<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>Slave 1</name>
  <description>My first slave</description>
  <remoteFS>/var/lib/jenkins</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.22">
    <host>tahz72.mylabserver.com</host>
    <port>22</port>
    <credentialsId>7cc3853b-24f3-40ee-8ca4-aa987afb3cb0</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.ManuallyTrustedKeyVerificationStrategy">
      <requireInitialManualTrust>false</requireInitialManualTrust>
    </sshHostKeyVerificationStrategy>
  </launcher>
  <label>Linux CentOS</label>
  <nodeProperties/>
</slave>